<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jnu.jcircle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".ui.hole.Unitapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.JCircle">
        <activity android:name=".ui.news.new_announce" android:exported="true"/>
        <activity android:name=".ui.trade.create_ticket" android:exported="true"/>
        <activity android:name=".ui.user.Edit_id" android:exported="true"/>
        <activity android:name=".ui.user.head_choise" android:exported="true"/>
        <activity android:name=".ui.user.Activity_message_input" android:exported="true"/>
<!--        <activity android:name=".ui.hole.HoleFragment" android:exported="true" />-->
        <activity android:name=".ui.hole.PagerFragment" android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
